adf-resources/pipeline/CustomerHistoryInitialLoad.json
{
    "name": "CustomerHistoryInitialLoad",
    "properties": {
        "activities": [
            {
                "name": "Stage Initial CT File",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set CT File Name",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT \nCHANGE_TRACKING_CURRENT_VERSION() as ct_current_version, \nintegration.EasternTime() as extraction_time,\nCustomerID as ct_key, \n'I' as ct_operation,\nconvert(datetime, '2008-06-01')  as ct_insertion_time,\nconvert(datetime, null) as ct_last_mod_time,\n*\nFROM integration.Customer;",
                        "queryTimeout": "00:05:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "dataIntegrationUnits": 2,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "ct_current_version",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "ct_current_version",
                                    "type": "Int64",
                                    "physicalType": "INT_64"
                                }
                            },
                            {
                                "source": {
                                    "name": "extraction_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                },
                                "sink": {
                                    "name": "extraction_time",
                                    "type": "DateTime",
                                    "physicalType": "INT_96"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_key",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "ct_key",
                                    "type": "Int32",
                                    "physicalType": "INT_32"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_operation",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "ct_operation",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_insertion_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                },
                                "sink": {
                                    "name": "ct_insertion_time",
                                    "type": "DateTime",
                                    "physicalType": "INT_96"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_last_mod_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                },
                                "sink": {
                                    "name": "ct_last_mod_time",
                                    "type": "DateTime",
                                    "physicalType": "INT_96"
                                }
                            },
                            {
                                "source": {
                                    "name": "CustomerID",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "CustomerID",
                                    "type": "Int32",
                                    "physicalType": "INT_32"
                                }
                            },
                            {
                                "source": {
                                    "name": "NameStyle",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                },
                                "sink": {
                                    "name": "NameStyle",
                                    "type": "Boolean",
                                    "physicalType": "BOOLEAN"
                                }
                            },
                            {
                                "source": {
                                    "name": "Title",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "Title",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MiddleName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MiddleName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Suffix",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "Suffix",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "CompanyName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "CompanyName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "SalesPerson",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "SalesPerson",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "EmailAddress",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "EmailAddress",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Phone",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "Phone",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeAddressLine1",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficeAddressLine1",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeAddressLine2",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficeAddressLine2",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeCity",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficeCity",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeStateProvince",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficeStateProvince",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeCountryRegion",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficeCountryRegion",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficePostalCode",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                },
                                "sink": {
                                    "name": "MainOfficePostalCode",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "AdvWorksLTQuery",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "CustomerCTFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "file": {
                                "value": "@variables('temporal_file_name')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Run SP_CustomerHistoryIncrementalLoad",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load Initial CT File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[stagging].[SP_CustomerHistoryIncrementalLoad]",
                    "storedProcedureParameters": {
                        "pipeline_run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AdvWorksLT_SQLDB_LS",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Set CT File Name",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "temporal_file_name",
                    "value": {
                        "value": "@concat(\n    'temporal-', \n    pipeline().RunId,\n    '.parquet'\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Load Initial CT File",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Stage Initial CT File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE stagging.CustomerCTChangesStagging;",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "ct_current_version",
                                    "type": "Int64",
                                    "physicalType": "INT64"
                                },
                                "sink": {
                                    "name": "ct_current_version",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            },
                            {
                                "source": {
                                    "name": "extraction_time",
                                    "type": "DateTime",
                                    "physicalType": "INT96"
                                },
                                "sink": {
                                    "name": "extraction_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_key",
                                    "type": "Int32",
                                    "physicalType": "INT32"
                                },
                                "sink": {
                                    "name": "ct_key",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_operation",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "ct_operation",
                                    "type": "String",
                                    "physicalType": "char"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_insertion_time",
                                    "type": "DateTime",
                                    "physicalType": "INT96"
                                },
                                "sink": {
                                    "name": "ct_insertion_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                }
                            },
                            {
                                "source": {
                                    "name": "ct_last_mod_time",
                                    "type": "DateTime",
                                    "physicalType": "INT96"
                                },
                                "sink": {
                                    "name": "ct_last_mod_time",
                                    "type": "DateTime",
                                    "physicalType": "datetime"
                                }
                            },
                            {
                                "source": {
                                    "name": "CustomerID",
                                    "type": "Int32",
                                    "physicalType": "INT32"
                                },
                                "sink": {
                                    "name": "CustomerID",
                                    "type": "Int32",
                                    "physicalType": "int"
                                }
                            },
                            {
                                "source": {
                                    "name": "NameStyle",
                                    "type": "Boolean",
                                    "physicalType": "BOOLEAN"
                                },
                                "sink": {
                                    "name": "NameStyle",
                                    "type": "Boolean",
                                    "physicalType": "bit"
                                }
                            },
                            {
                                "source": {
                                    "name": "Title",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Title",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "FirstName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MiddleName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MiddleName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "LastName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Suffix",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Suffix",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "CompanyName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "CompanyName",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "SalesPerson",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "SalesPerson",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "EmailAddress",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "EmailAddress",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "Phone",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "Phone",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeAddressLine1",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficeAddressLine1",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeAddressLine2",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficeAddressLine2",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeCity",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficeCity",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeStateProvince",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficeStateProvince",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficeCountryRegion",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficeCountryRegion",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            },
                            {
                                "source": {
                                    "name": "MainOfficePostalCode",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                },
                                "sink": {
                                    "name": "MainOfficePostalCode",
                                    "type": "String",
                                    "physicalType": "nvarchar"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "CustomerCTFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "file": {
                                "value": "@variables('temporal_file_name')",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "CustomerCTChangesStagging",
                        "type": "DatasetReference"
                    }
                ]
            }
        ],
        "parameters": {
            "pipeline_name": {
                "type": "string",
                "defaultValue": "customer_sync"
            }
        },
        "variables": {
            "temporal_file_name": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-01-09T22:37:12Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}