adf-resources/pipeline/ProductHistoryInitialLoad.json
{
	"name": "ProductHistoryInitialLoad",
	"properties": {
		"activities": [
			{
				"name": "Extract Initial CT File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set CT File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCHANGE_TRACKING_CURRENT_VERSION() as current_ct_version, \nintegration.EasternTime() as extraction_time,\nProductID as ct_key, \n'I' as ct_operation,\nSellStartDate as ct_insertion_time,\nNULL as ct_last_mod_time,\n*\nFROM integration.Product",
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AdvWorksLTQuery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ProductCTFile",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@variables('temporal_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Post CT Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extract Initial CT File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ProductCTFile",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@variables('temporal_file_name')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Log Job Run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Products History Incremental Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogJobRun]",
					"storedProcedureParameters": {
						"pipeline_name": {
							"value": {
								"value": "@pipeline().parameters.pipeline_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"sync_ct_version": {
							"value": {
								"value": "@activity('Post CT Lookup').output.firstRow.current_ct_version",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"sync_timestamp": {
							"value": {
								"value": "@activity('Post CT Lookup').output.firstRow.extraction_time",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdvWorksLT_SQLDB_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set CT File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temporal_file_name",
					"value": {
						"value": "@concat(\n    'temporal-', \n    pipeline().RunId,\n    '.parquet'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Products History Incremental Load",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Post CT Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_ProductHistoryIncrLoad",
						"type": "DataFlowReference",
						"datasetParameters": {
							"CTFile": {
								"file": {
									"value": "@variables('temporal_file_name')",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "DefaultIR",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"pipeline_name": {
				"type": "string",
				"defaultValue": "product_sync"
			}
		},
		"variables": {
			"temporal_file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-31T16:53:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}