adf-resources/pipeline/ProductHistoryIncrLoad.json
{
    "name": "ProductHistoryIncrLoad",
    "properties": {
        "activities": [
            {
                "name": "Stage Product CT File",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Pre CT Lookup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Get Last Sync CT Version",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set CT File Name",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "@concat('\nSELECT \nCHANGE_TRACKING_CURRENT_VERSION() as ct_current_version,\nintegration.EasternTime() as extraction_time,\n*\nFROM integration.ProductCTUpdates(', \nactivity('Get Last Sync CT Version').output.firstRow.sync_ct_version,\n')'\n)",
                            "type": "Expression"
                        },
                        "queryTimeout": "00:05:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "dataIntegrationUnits": 2,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "AdvWorksLTQuery",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ProductCTFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "file": {
                                "value": "@variables('temporal_file_name')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Pre CT Lookup",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT \nCHANGE_TRACKING_CURRENT_VERSION() as ct_version,\nintegration.EasternTime() as extraction_time",
                        "queryTimeout": "00:01:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "AdvWorksLTQuery",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Get Last Sync CT Version",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select *\nfrom integration.JobLogs\nwhere pipeline_name = 'product_sync'\norder by sync_timestamp desc",
                        "queryTimeout": "00:01:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "AdvWorksLTQuery",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Set CT File Name",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "temporal_file_name",
                    "value": {
                        "value": "@concat(\n    'temporal-', \n    pipeline().RunId,\n    '.parquet'\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "If Stage File is Empty",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Stage Product CT File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(\n    activity('Stage Product CT File').output.rowsCopied, \n    0\n)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Load Product CT File",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ParquetSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    }
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "preCopyScript": "TRUNCATE TABLE integration.ProductCTChangesStagging;",
                                    "writeBehavior": "insert",
                                    "sqlWriterUseTableLock": false,
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "ct_current_version",
                                                "type": "Int64",
                                                "physicalType": "INT64"
                                            },
                                            "sink": {
                                                "name": "ct_current_version",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "extraction_time",
                                                "type": "DateTime",
                                                "physicalType": "INT96"
                                            },
                                            "sink": {
                                                "name": "extraction_time",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ct_key",
                                                "type": "Int32",
                                                "physicalType": "INT32"
                                            },
                                            "sink": {
                                                "name": "ct_key",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ct_operation",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "ct_operation",
                                                "type": "String",
                                                "physicalType": "char"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ct_insertion_time",
                                                "type": "DateTime",
                                                "physicalType": "INT96"
                                            },
                                            "sink": {
                                                "name": "ct_insertion_time",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "ct_last_mod_time",
                                                "type": "DateTime",
                                                "physicalType": "INT96"
                                            },
                                            "sink": {
                                                "name": "ct_last_mod_time",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "CustomerID",
                                                "type": "Int32",
                                                "physicalType": "INT32"
                                            },
                                            "sink": {
                                                "name": "CustomerID",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "NameStyle",
                                                "type": "Boolean",
                                                "physicalType": "BOOLEAN"
                                            },
                                            "sink": {
                                                "name": "NameStyle",
                                                "type": "Boolean",
                                                "physicalType": "bit"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Title",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "Title",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "FirstName",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "FirstName",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MiddleName",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MiddleName",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "LastName",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "LastName",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Suffix",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "Suffix",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "CompanyName",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "CompanyName",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "SalesPerson",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "SalesPerson",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "EmailAddress",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "EmailAddress",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Phone",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "Phone",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficeAddressLine1",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficeAddressLine1",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficeAddressLine2",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficeAddressLine2",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficeCity",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficeCity",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficeStateProvince",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficeStateProvince",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficeCountryRegion",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficeCountryRegion",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "MainOfficePostalCode",
                                                "type": "String",
                                                "physicalType": "UTF8"
                                            },
                                            "sink": {
                                                "name": "MainOfficePostalCode",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ProductCTFile",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file": {
                                            "value": "@variables('temporal_file_name')",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ProductCTChangesStagging",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Run SP ProductHistoryIncrementalLoad",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Load Product CT File",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "integration.ProductHistoryIncrementalLoad",
                                "storedProcedureParameters": {
                                    "pipeline_run_id": {
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AdvWorksLT_SQLDB_LS",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Log Job Run",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[integration].[sp_LogJobRun]",
                                "storedProcedureParameters": {
                                    "pipeline_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.pipeline_name",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "pipeline_run_id": {
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    },
                                    "sync_ct_version": {
                                        "value": {
                                            "value": "@activity('Pre CT Lookup').output.firstRow.ct_current_version",
                                            "type": "Expression"
                                        },
                                        "type": "Int32"
                                    },
                                    "sync_timestamp": {
                                        "value": {
                                            "value": "@activity('Pre CT Lookup').output.firstRow.extraction_time",
                                            "type": "Expression"
                                        },
                                        "type": "DateTime"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "AdvWorksLT_SQLDB_LS",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "pipeline_name": {
                "type": "string",
                "defaultValue": "product_sync"
            }
        },
        "variables": {
            "temporal_file_name": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-01-08T22:05:12Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}