adf-resources/pipeline/ProductHistoryInitialLoad.json
{
    "name": "ProductHistoryInitialLoad",
    "properties": {
        "activities": [
            {
                "name": "Stage Initial CT File",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set CT File Name",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT \nCHANGE_TRACKING_CURRENT_VERSION() as ct_current_version, \nintegration.EasternTime() as extraction_time,\nProductID as ct_key, \n'I' as ct_operation,\nSellStartDate as ct_insertion_time,\nNULL as ct_last_mod_time,\n*\nFROM integration.Product",
                        "queryTimeout": "00:05:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "parallelCopies": 1,
                    "dataIntegrationUnits": 2,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "AdvWorksLTQuery",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ProductCTFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "file": {
                                "value": "@variables('temporal_file_name')",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Set CT File Name",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "temporal_file_name",
                    "value": {
                        "value": "@concat(\n    'temporal-', \n    pipeline().RunId,\n    '.parquet'\n)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Load Initial CT File",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Stage Initial CT File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "ParquetSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "preCopyScript": "TRUNCATE TABLE integration.ProductCTChangesStagging",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ProductCTFile",
                        "type": "DatasetReference",
                        "parameters": {
                            "file": {
                                "value": "@variables('temporal_file_name')",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ProductCTChangesStagging",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Run SP ProductHistoryIncrementalLoad",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Load Initial CT File",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "integration.ProductHistoryIncrementalLoad",
                    "storedProcedureParameters": {
                        "pipeline_run_id": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "AdvWorksLT_SQLDB_LS",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "pipeline_name": {
                "type": "string",
                "defaultValue": "product_sync"
            }
        },
        "variables": {
            "temporal_file_name": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-01-08T22:05:13Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}