adf-resources/pipeline/SalesOrdersIncrLoad.json
{
	"name": "SalesOrdersIncrLoad",
	"properties": {
		"activities": [
			{
				"name": "Extract SOHs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Detect SOs to Extract DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom integration.SalesOrderHeader as SOHV\nwhere SOHV.SalesOrderID IN (\n    select SalesOrderID from integration.SalesOrdersToExtract\n)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AdvWorksLTQuery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SOHFile",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@variables('temporal_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set CT File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "temporal_file_name",
					"value": {
						"value": "@concat(\n    'temporal-', \n    pipeline().RunId,\n    '.parquet'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extract SODs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Detect SOs to Extract DF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom integration.SalesOrderDetail as SODV\nwhere SODV.SalesOrderID IN (\n    select SalesOrderID from integration.SalesOrdersToExtract\n)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AdvWorksLTQuery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SODFile",
						"type": "DatasetReference",
						"parameters": {
							"file": {
								"value": "@variables('temporal_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Truncate SOs to Extract Table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Extract SOHs",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Extract SODs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AdvWorksLT_SQLDB_LS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "TRUNCATE TABLE integration.SalesOrdersToExtract;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Sales Orders Incremental Load",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Truncate SOs to Extract Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SalesOrdersIncrLoad",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SOHs": {
								"file": {
									"value": "@variables('temporal_file_name')",
									"type": "Expression"
								}
							},
							"SODs": {
								"file": {
									"value": "@variables('temporal_file_name')",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "DefaultIR",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Detect SOs to Extract DF",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set CT File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_DetectSOsToExtract",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "DefaultIR",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Log Job Run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Sales Orders Incremental Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[integration].[sp_LogJobRun]",
					"storedProcedureParameters": {
						"pipeline_name": {
							"value": {
								"value": "@pipeline().parameters.pipeline_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"sync_ct_version": {
							"value": null,
							"type": "Int32"
						},
						"sync_timestamp": {
							"value": {
								"value": "@convertTimeZone(\n    pipeline().TriggerTime,\n    'UTC',\n    'SA Pacific Standard Time'\n)\n\n",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AdvWorksLT_SQLDB_LS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pipeline_name": {
				"type": "string",
				"defaultValue": "sales_order_sync"
			}
		},
		"variables": {
			"temporal_file_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-31T16:53:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}